@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 900px;
    background-image: url(./images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.header-nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo a{
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    font-family: 'Ribeye';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 1.44px;
}

.fa-bars{
    color: black;
    font-size: 30px;
    display: none;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li{
    margin: 0 20px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
}

.header-btn {
    display: inline-block;
    width: 163px;
    height: 60px;
    border-radius: 5px;
    background: #C9453B;
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 14px;
    padding-left: 32px;
    text-transform: capitalize;
    text-decoration: none;
}

.header-content{
    position: absolute;
    top: 200px;
    left: 180px;
}

.header-content-text h1{
    color: #FFF;
    font-family: 'Gelasio';
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    margin-bottom: 30px;
}

.header-content-text p{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    margin-bottom: 30px;
}

.header-content-btn{
    display: inline-block;
    width: 163px;
    height: 51px;
    border-radius: 5px;
    background: #C9453B;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 14px;
    padding-left: 32px;
    text-transform: capitalize;
    text-decoration: none;
}

.section{
    width: 100%;
    margin-top: 200px;
}

.section h2{
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #000;
    font-family: Gelasio;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: 20px;
}

.section h4{
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    margin-bottom: 30px;
}

.section-container {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: auto;
}


.section-flex {
    width: 360px;
    height: 500px;  
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

.section-flex h3{
    color: #000;
    text-align: center;
    font-family: 'Gelasio';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 20px;
}

.section-flex p{
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.main{
    width: 100%;
    height: 600px;
}

.main-text{
    color: #000;
    font-family: 'Gelasio';
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 20px;
}

.main-paragraph{
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 20px;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-card{
    width: 265px;
    height: 310px;
    position: relative;
}

.main-card img {
    width: 100%;
}

.main-card h5{
    color: #000;
    font-family: 'gelasio';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
     text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 10px;
}

.main-card p{
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-left: 8px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.main-card p i {
    margin-right: 8px;
    color: #FC1200;
}

.main-card-days{
    color: #555;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.main-card h6{
    color: #000;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}

.main-card h4{
    position: absolute;
    right: 30px;
    top: 240px;
}

.main-card h4 i{
    color: yellow;
    margin-right: 4px;
}

.main-card h6 span{
    color: #555;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    margin-left: 2px;
}
.main-icon{
    width: 280px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9453B1A;
    border-radius: 3px;
}

.main-icon .icon{
    width: 90px;
    height: 5px;
    background-color: #ef1f11ff;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 2px;
}

.blog{
    width: 100%;
    margin-top: 200px;
}

.blog h1{
    text-align: center;
    color: #000;
    font-family: 'Gelasio';
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-top: 30px; 
    margin-bottom: 20px;
}

.blog .blog-p{
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
}

.blog-pages {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.pages-flex-text{
    color: #000;
    font-family: 'Gelasio';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
}
.pages-flex-p{
    color: #000;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    margin-bottom: 10px;   
}

.pages-flex h4{
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    text-transform: capitalize;
}

.blog-item{
    position: relative;
    margin-bottom: 15px;
}

.blog-item-text{
    position: absolute;
    right: -230px;
    bottom: 150px;
    text-transform: capitalize; 
    color: #000;
    font-family: 'Gelasio';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.blog-item-pp {
    position: absolute;
    right: -300px;
    bottom: 100px;
    color: #777;
    font-family: 'Gelasio';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
} 

.blog-item h4{
    position: absolute;
    right: -150px;
    bottom: 60px;
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


footer{
    width: 100%;
    height: 350px;
    background: rgba(38, 148, 153, 0.04);
    margin-top: 222px;
}

.footer-flex{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.footer-logo a{
    color: #000;
    font-family: 'Ribeye';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.44px;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.footer-logo p{
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    letter-spacing: 0.96px;
    margin-top: 10px;
}


.footer-icons i{
    margin: 10px 10px;
}
.footer-link{
    margin-top: 50px;
}

.top{
    margin-bottom: 30px;
}

.footer-link a{
    display: inline-block;
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.96px;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-input{
    margin-bottom: 40px;
}

.footer-input-text{
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

input{
    width: 195px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 12px;
    outline: none;
}
.footer-btn {
    width: 103px;
    height: 44px;
    border-radius: 5px;
    background: #C9453B;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.96px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

@media(max-width: 1440px){
    .header{
        padding: 25px 5%;
    }
}

@media(max-width: 1170px){
    .header{
        padding: 20px 3%;
    }
    .header-logo a{
        font-size: 20px;
    }

    .header-nav a{
        margin: 0 15px;
    }
}

@media (min-width: 447px) and (max-width: 769px){
    .header{
        width: 100%;
        background-size: cover;
    }
    .header-nav{
        position: absolute;
        width: 100%;
        height: 500px;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #54e0fd;
        transition: all 0.5s ease-in-out; 
    }
    .header-nav ul{
        display: flex;
        flex-direction: column;
    }
    .header-nav a{
        display: block;
        padding: 0;
        font-size: 2.1rem;
        font-weight: 500;
        border-bottom: none;
    }
    .header-content{
        padding-top: 300px;
        margin: auto;
    }
    .header-content-btn{
        margin: auto;
        padding-right: 50px;
        font-size: 13px;
    }
    .header-content-text {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        text-align: center;
    }
    .header-content-text h1{
        font-size: 40px;
        margin-top: 50px;
    }

    .header-content-text p{
        font-size: 10px;
    }
    .header-btn{
        font-size: 10px;
        width: 130px;
        height: 140px;
        text-align: center;
    }    
    .section h2{
        font-size: 30px;
    }
    .section p{
        font-size: 20px;
        text-align: center;
    }
    .section-container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 400px;
    }
    .section-flex{
        margin: auto;
        text-align: center;
    }
    .main{
        margin-top: 500px;
        margin-bottom: 1400px;
    }
    .main-text{
        font-size: 30px;
    }
    .main-paragraph{
        font-size: 10px;
        text-align: center;
    }
    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-card{
        margin-bottom: 80px;
    }
    .blog{
        padding-top: 300px;
    }
    .blog h1{
        font-size: 30px;
        color: red;
    }
    .blog-p{
        font-size: 10px;
    }
    .blog-pages{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 300px;
    }
    .footer-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .footer-input{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }
    input{
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 990px){
    .header{
        width: 100%;
        background-size: cover;
    }
    .header-nav{
        position: absolute;
        width: 100%;
        height: 500px;
        padding: 70px 50px;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #54e0fd;
        transition: all 0.5s ease-in-out; 
    }
    .header-nav ul{
        display: flex;
        flex-direction: column;
    }
    .header-nav a{
        display: block;
        font-size: 2.1rem;
        font-weight: 500;
        border-bottom: none;
    }
    .header-content{
        padding-top: 300px;
        margin: auto;
    }
    .header-content-btn{
        margin: auto;
        padding-right: 50px;
        font-size: 13px;
    }
    .header-content-text {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        text-align: center;
    }
    .header-content-text h1{
        font-size: 40px;
        margin-top: 50px;
    }

    .header-content-text p{
        font-size: 10px;
    }
    .header-btn{
        font-size: 10px;
        width: 140px;
        height: 100px;
        text-align: center;
    }

    .section h2{
        font-size: 30px;
    }
    .section p{
        font-size: 20px;
        text-align: center;
    }
    .section-container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 400px;
    }
    .section-flex{
        margin: auto;
        text-align: center;
    }
    .main{
        margin-top: 500px;
        margin-bottom: 1400px;
    }
    .main-text{
        font-size: 30px;
    }
    .main-paragraph{
        font-size: 10px;
        text-align: center;
    }
    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-card{
        margin-bottom: 80px;
    }
    .blog{
        padding-top: 300px;
    }
    .blog h1{
        font-size: 30px;
        color: red;
    }
    .blog-p{
        font-size: 10px;
    }
    .blog-pages{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 300px;
    }
    .footer-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .footer-input{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }
    input{
        margin-bottom: 20px;
    }
}

@media (min-width: 990px) and (max-width: 1200px){
    .header{
        width: 100%;
        background-size: cover;
    }
    .header-nav{
        position: absolute;
        width: 100%;
        height: 500px;
        padding: 70px 50px;
        transition: all 0.5s ease-in-out; 
    }
    .header-nav ul{
        top: 0;
    } 
    .header-nav a{
        display: block;
        font-size: 20px;
        font-weight: 500;
        border-bottom: none;
    }
    .header-content{
        padding-top: 300px;
        margin: auto;
    }
    .header-content-btn{
        margin: auto;
        padding-right: 50px;
        font-size: 13px;
    }
    .header-content-text {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        text-align: center;
    }
    .header-content-text h1{
        font-size: 40px;
        margin-top: 50px;
    }

    .header-content-text p{
        font-size: 10px;
    }
    .header-btn{
        font-size: 5px;
        width: 220px;
        height: 60px;
        text-align: center;
    }

    .section h2{
        font-size: 30px;
    }
    .section p{
        font-size: 20px;
        text-align: center;
    }
    .section-container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 400px;
    }
    .section-flex{
        margin: auto;
        text-align: center;
    }
    .main{
        margin-top: 500px;
        margin-bottom: 1400px;
    }
    .main-text{
        font-size: 30px;
    }
    .main-paragraph{
        font-size: 10px;
        text-align: center;
    }
    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-card{
        margin-bottom: 80px;
    }
    .blog{
        padding-top: 300px;
    }
    .blog h1{
        font-size: 30px;
        color: red;
    }
    .blog-p{
        font-size: 10px;
    }
    .blog-pages{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .footer-input{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }
    input{
        margin-bottom: 20px;
    }
}





